---
import api from "../api";
import Card from "../components/Card.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";

let projects = await api.list();
---

<DefaultLayout>
  <section class="p-8 grid grid-cols-1 gap-8 md:gap-10 sm:grid-cols-2">
    {projects.length && projects.map((p) => <Card product={p} />)}
  </section>
</DefaultLayout>
